.search {
    width: 200px;
}

.repo {
    padding: 5px;
}

.repoName {
    font-weight: bold;
}

.language {
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    margin: 0px 3px;
    padding: 0px 5px;
}

.languageInput {
    margin: 2px 0px;
    border: none;
}

.languageInput:active {
    border: none;
}

.languageSelect {
    border: none;
}

.languageSelect::after {
    position: relative;
}

